*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* section{
    max-width: 1400px;
    margin: 0 auto;
} */

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 130px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.logo-container img{
    width: 80px;
    height: 40px;
}
.logo-container h1{
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-container h1 span, .play-text h3 span{
    background:linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menus ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menus ul li a{
    text-decoration: none;
    color: #000;
}
.menus ul li a:hover{
    color: #ffffff;
    background-color: #FF42A5;
    padding: 10px;
    border-radius: 5px;
}

.header-socials{
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.header-socials a i{
    margin: 0px 5px;
} 


/* Banner */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background: #FFF;
    background-image: url("../images/Group\ 14.png"),
    linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
    background-repeat: no-repeat;
    padding: 100px;
    height: 700px;
    
}
.banner-text{
}

.banner-mini-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-feature{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0px;
}
.banner-feature i{
    height: 24px;
    width: 24px;
}

.btn{
    border: none;
    padding: 15px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #fff;
}
.btn-primary{
    border: none;
    padding: 15px 30px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}

.banner-image img{
    width: 100%;
}

/* Banner 2 */
.banner-container2{
    background-image: none;
    background: 
     #ff048617;
    ;
}
.title-2{
    font-size: 30px;
    text-align: right;
}
.banner-text2{
    text-align: right;
}
.min-text{
    margin-top: 20px;
    color: #534C64;
    font-size: 16px;
}

.banner-footer{
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games */

.online-games-container, .play-container{
        max-width: 1400px;
        margin: 50px auto;     
}
.section-tittle{
    text-align: center;
}
.section-description{
    text-align: center;
}

.game-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 50px auto;
    padding: 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    
}
.card img:hover{
    opacity: 0.6;
    
}
.card{
    position: relative;
}
.play{
    display: none;
}
.card:hover .play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fd399f;
    text-align: center;
    opacity: 0.5;
}

/* Play */



.play-container{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}
.play-text{
    text-align: right;
    width: 340px;
    margin-right: 200px;
}
.play-text h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-text p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
}
.play-img img{
    position: relative;
    display: block;
}
.play-main-img{
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
}
.play-mini-img{
    width: 318.5px;
height: 365.083px;
border-radius: 10px;
position: absolute;
top: -200px;
left: -100px;
}




/* Media Queries */


@media screen and (max-width:576px) {
    nav, .menus ul{
        flex-direction: column;
    }
    nav{
        height: auto;
        padding-bottom: 15px;
    }
    .banner-container{
        flex-direction: column-reverse;
        background-position: bottom left;
        background-size: contain;
    }
    .banner-container2{
        flex-direction: column;
        background: none;
    }
    .game-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}




@media screen and (max-width:768px) {
    nav, .menus ul{
        flex-direction: column;
    }
    nav{
        height: auto;
        padding-bottom: 15px;
    }
    .banner-container{
        flex-direction: column-reverse;
        background-position: bottom left;
        background-size: contain;
    }
    .banner-container2{
        flex-direction: column;
        background: none;
    }
    .game-card-container{
        grid-template-columns: repeat(2,1fr);
    }
}